<ion-header>
  <ion-toolbar>
    <ion-title>Yönetici</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom"> 
   

    <ion-tab-button tab="yorumekle">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Model Ekle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="yorumoku">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Oku</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="yorumonayla">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Onayla</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ban">
      <ion-icon name="person"></ion-icon>
      <ion-label>Kullanıcı Engelle</ion-label>
    </ion-tab-button>
    
    
    
  </ion-tab-bar>
</ion-tabs>