<ion-header>
  <ion-toolbar>
    <ion-title>Araba Bilgi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom"> 
    
    <ion-tab-button tab="yorumekle2">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Yorum Ekle</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="yorumoku">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Yorumları Oku</ion-label>
    </ion-tab-button>
   <!--  <ion-tab-button tab="" ><!-- Gideceği path adresi
      <ion-icon name="person"></ion-icon>
      <ion-label>Çıkış</ion-label>
    </ion-tab-button>-->
    
  </ion-tab-bar>
</ion-tabs>

