
<!-- LOGİN REGİSTER  -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Araba Bilgi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
<div  class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/login']"  expand="block" color="danger">Giriş Yap</ion-button>
        <p>
        </p>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Kayıt Ol</ion-button>
       <!--  <span class="divider line one-line">Kayıtlı Değil İseniz Kayıt Olun</span>-->

      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
<!-- LOGİN REGİSTER  -->
